version 5.198.0

source https://api.nuget.org/v3/index.json

nuget Expecto

group Fake
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.Fsi
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget FSharp.Core 4.5.0.0
